extends includes/layout 
block midContent 
      .page-header
        .container
          .row
            .col-md-12
              h1 News & Event
      // End Page Header
      // Start Content
      .main(role='main')
        #content.content.full
          .container
            .row
              ul.isotope-grid(data-sort-id='gallery')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news2.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news2.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news6.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news6.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news5.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news5.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news7.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news7.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/newsnew1.jpg', data-rel='prettyPhoto')
                      img(src='#{base_url}images/newsnew1.jpg', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/news3.png', data-rel='prettyPhoto')
                      img(src='#{base_url}images/news3.png', style='border:1px solid;', alt='')
                li.col-md-6.col-sm-6.grid-item.post.format-image
                  .grid-item-inner
                    a.media-box(href='#{base_url}images/newsnew.jpg', data-rel='prettyPhoto')
                      img(src='#{base_url}images/newsnew.jpg', style='border:1px solid;', alt='')
